<!DOCTYPE html> <!-- html:5-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/header.html') %>
</head>
<body>
    <%- include('partials/navigation.html') %>  <!--traigo el menu desde navigation-->
    <div class="container">
        <header class="row">
            <div class="ml col 12 text-center">
                <img src="img/imagen.png" alt="Imagen computo" class="animate__bounceIn">
            </div>
        </header>
    </div>
    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-10x"> </i>
            </div>
            <div class="col-sm-6">
                <h3>Suscribanse</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque alias, pariatur eius itaque facilis enim incidunt ipsam. Fugit, dolores! Quibusdam, ad in dicta placeat dolorem veniam sit. Porro, veritatis quia?</p>
            </div>
        </div>
    </div>
    <%- include('partials/footer.html') %>
</body>
</html>